.review-details-container {
  display: flex;
  flex-direction: column;
}

.review-details-content {
  margin: 2px 0;
  white-space: pre-line;
}

.commented-review {
  cursor: pointer;
  background: #e8da83;
}

.recorded-comment {
  padding: 10px;
  width: 350px;
  height: auto;
  font-size: 13px;
  border-radius: 15px;
  white-space: pre-line;
  background: #fff9f0;
  -webkit-box-shadow: 9px -8px 14px 0px rgba(168, 166, 158, 1);
  -moz-box-shadow: 9px -8px 14px 0px rgba(168, 166, 158, 1);
  box-shadow: 9px -8px 14px 0px rgba(168, 166, 158, 1);
}
