.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-header {
  flex-grow: 1;
}

.review-container {
  flex-grow: 2;
}
